<div class="avatar-select <%= 'player-active' if !table_hand.nil? && table_hand.status != 'end' && player.position == table_hand.current_player_position %>">
  <div class="avatar-overlay <%= 'player-folded' if !table_hand.nil? && table_hand.status != 'end' && !player.player_hands.where(table_hand: table_hand).empty? && player.player_hands.find_by(table_hand: table_hand).folded == true %>">
    <% if player.user.photo.attached? %>
      <%= cl_image_tag player.user.photo.key, alt: "Picture of #{player.user.nickname}", class: "avatar-large"%>
    <% else %>
      <%= image_tag "https://avatars.dicebear.com/api/micah/#{player.user.nickname}.svg?background=%231A8A47", class: "avatar-large" %>
    <% end %>
  </div>
</div>
<div class="player-display-info">
  <h2><%= player.user.nickname %></h2>
  <p><%= player.stack %> coins</p>
</div>
