<div class="raisecontainer">
  <div class="range-slider" data-controller="raise" data-raise-max-value=<%= max %> data-raise-min-value=<%= min %> >
    <div class="mb-2">
      <%= link_to "fold", fold_hand_player_hand_path(player.player_hands.last.id), data: { turbo_method: :patch }, class: 'btn btn-action' %>
      <% if poker_table.table_hands.last.current_call_amount.zero? %>
        <% action_name = "check" %>
      <% elsif poker_table.table_hands.last.current_call_amount >= max %>
        <% action_name = "all-in" %>
      <% else %>
         <% action_name = "call" %>
      <% end %>
      <%= link_to action_name, call_hand_player_hand_path(player.player_hands.last.id), data: { turbo_method: :patch }, class: 'btn btn-action ms-2 call-action' %>
      <% if player.stack > poker_table.table_hands.last.current_call_amount %>
        <%= link_to "raise", raise_hand_player_hand_path(player.player_hands.last.id), raise_amount: "", data: { raise_target: "sender", turbo_method: :patch }, class: "btn btn-action ms-2 all-in" %>
      <% end %>
    </div>
    <% if player.stack > poker_table.table_hands.last.current_call_amount %>
      <form class="d-flex justify-content-between">
        <div class="d-flex">
          <label for="customRange" class="form-label mb-0">Raise:&nbsp;</label>
          <output class="raise__value"
                  data-raise-target="value">0</output>
        </div>
        <input type="range"
              name="customRange"
              class="raise__range ms-2"
              data-raise-target="range"
              data-action="input->raise#updateValue"
              value=<%= player.stack < (player.poker_table.small_blind * 2) ? player.stack : min.zero? ? (player.poker_table.small_blind * 2) : min %>
              min=<%= player.stack < (player.poker_table.small_blind * 2) ? player.stack : min.zero? ? (player.poker_table.small_blind * 2) : min %>
              max=<%= max %>
              step="1">
      </form>
     <% end %>
  </div>
</div>

<%# data-raise-target="range" %>
