<div class="table-card">
  <div class="table-card-title text-center py-2">
      <h2><%= link_to "#{poker_table.name}", poker_table_path(poker_table), class: "btn btn-success stretched-link" %></h2>
  </div>
  <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
  <%= image_tag "table-icon.jpg" %>
  <div class="table-card-infos d-flex space-between align-items-center">
      <h2><%= "Max players: #{poker_table.max_players} " %></h2>
      <h2><%= "#{poker_table.small_blind} : Small blind" %></h2>
      <%# <p class="m-0"><%= "available seats: #{poker_table.max_players - poker_table.players.active.count}" %>
  </div>
</div>
