<div class="winner-overlay">
  <div class="winner-info">
    <% winnerhands.each do |winnerhand| %>
      <% unless winnerhand.combination.nil? %>
        <%  case winnerhand.combination[1]  %>
          <%  when 11 then trad = winnerhand.combination[1].to_s.gsub("11", "Jacks")  %>
          <%  when 12 then trad = winnerhand.combination[1].to_s.gsub("12", "Queens")  %>
          <%  when 13 then trad = winnerhand.combination[1].to_s.gsub("13", "Kings")  %>
          <%  when 14 then trad = winnerhand.combination[1].to_s.gsub!("14", "Aces")  %>
        <% end %>
        <% case winnerhand.combination[0] %>
        <% when 0 then @combo = "High Card of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 1 then @combo = "Pair of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 2 then @combo = "Double Pair with highest pair of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 3 then @combo = "Three of a kind of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 4 then @combo = "Straight with highest card of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 5 then @combo = "Flush with hightest card of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 6 then @combo = "Full House of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 7 then @combo = "Four of a kind of #{trad.nil? ? winnerhand.combination[1] : trad}"%>
        <% when 8 then @combo = "Straight Flush with highest card of #{trad.nil? ? winnerhand.combination[1] : trad}" %>
        <% when 9 then @combo = "Royal Emperor Straight Legendary Flush" %>
        <% end %>
      <% else %>
        <% @combo = "folded opponents" %>
      <% end %>
      <%# <% winnerhand.combination = @combo %>
    <% end %>

  <% if winnerhands.count == 1 %>
    <% winnerhands.each do |winnerhand| %>
      <div class="winner-avatar">
        <div class="avatar-overlay">
          <% if winnerhand.player.user.photo.attached? %>
            <%= cl_image_tag winnerhand.user.photo.key, alt: "Picture of #{winnerhand.user.nickname}", class: "avatar-large"%>
          <% else %>
            <%= image_tag "https://avatars.dicebear.com/api/micah/#{winnerhand.player.user.nickname}.svg?background=%231A8A47", class: "avatar-large" %>
          <% end %>
        </div>
      </div>

        <% if winnerhand.player == player %>
          <p class="h2">Congratulations!</p>
          <h2 class="h1 text-info">You won <%= winnerhand.table_hand.pot %> coins!</h2>
        <% else %>
          <p class="h2">Too bad...</p>
          <h2 class="h1 text-black"><%= winnerhand.player.user.nickname  %> won</h2>
        <% end %>




        <%# <h3 class="pot"><i class="fa-solid fa-coins"></i> <%= winnerhand.table_hand.pot %>
        <h4><%= @combo %></h4>
        <div class="cardsandopponents d-flex justify-content-center align-items-center">
          <div class="winner-cards">
            <%= image_tag "cards/#{winnerhand.player_card1}.svg", class: 'winner-card', id: 'winner-card1' %>
            <%= image_tag "cards/#{winnerhand.player_card2}.svg", class: 'winner-card', id: 'winner-card2' %>
          </div>
          <div class="opponents justify-content-evenly ms-4 d-flex">
            <% poker_table.table_hands.last.players.each do |opponent| %>
              <% unless winnerhands.include?(opponent.player_hands.last) %>
                <%= render 'poker_tables/opponent_card', player: opponent %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="table-hand-recap">

          <% unless winnerhand.table_hand.table_card1.nil? %>
            <%= image_tag "cards/#{winnerhand.table_hand.table_card1}.svg", class: 'table-card' %>
            <%= image_tag "cards/#{winnerhand.table_hand.table_card2}.svg", class: 'table-card' %>
            <%= image_tag "cards/#{winnerhand.table_hand.table_card3}.svg", class: 'table-card' %>
          <% else %>
            <%= image_tag "cards/1B.svg", class: 'table-card' %>
            <%= image_tag "cards/1B.svg", class: 'table-card' %>
            <%= image_tag "cards/1B.svg", class: 'table-card' %>
          <% end %>
          <% unless winnerhand.table_hand.table_card4.nil? %>
            <%= image_tag "cards/#{winnerhand.table_hand.table_card4}.svg", class: 'table-card' %>
          <% else %>
            <%= image_tag "cards/1B.svg", class: 'table-card' %>
          <% end %>
          <% unless winnerhand.table_hand.table_card5.nil? %>
            <%= image_tag "cards/#{winnerhand.table_hand.table_card5}.svg", class: 'table-card' %>
          <% else %>
            <%= image_tag "cards/1B.svg", class: 'table-card' %>
          <% end %>
        </div>
    <% end %>

  <% end %>


  <% if winnerhands.count > 1 %>
    <% winnerhand = winnerhands.first %>
        <div class="winner-avatar">
          <div class="avatar-overlay">
            <% if player.user.photo.attached? %>
              <%= cl_image_tag winnerhand.user.photo.key, alt: "Picture of #{player.user.nickname}", class: "avatar-large"%>
            <% else %>
              <%= image_tag "https://avatars.dicebear.com/api/micah/#{player.user.nickname}.svg?background=%231A8A47", class: "avatar-large" %>
            <% end %>
          </div>
        </div>

          <% if winnerhands.include?(player.player_hands.last) %>
            <p class="h2">Pot splitted!</p>
            <%# <h2 class="h1 text-info">You won, <%= winnerhand.player.user.nickname %>
          <% else %>
            <p class="h2">Too bad...</p>
            <h2 class="h1 text-black"><%= winnerhand.player.user.nickname  %> won</h2>
          <% end %>




          <h3 class="pot"><i class="fa-solid fa-coins"></i> <%= (winnerhand.table_hand.pot / 2) %> coins</h3>
          <div class="cardsandcombination d-flex align-items-center">
            <div class="winner-cards">
              <%= image_tag "cards/#{winnerhand.player_card1}.svg", class: 'winner-card', id: 'winner-card1' %>
              <%= image_tag "cards/#{winnerhand.player_card2}.svg", class: 'winner-card', id: 'winner-card2' %>
            </div>
            <div class="combination">
              <h5><%= @combo %></h5>
            </div>
          </div>
          <div class="table-hand-recap">

            <% unless winnerhand.table_hand.table_card1.nil? %>
              <%= image_tag "cards/#{winnerhand.table_hand.table_card1}.svg", class: 'table-card' %>
              <%= image_tag "cards/#{winnerhand.table_hand.table_card2}.svg", class: 'table-card' %>
              <%= image_tag "cards/#{winnerhand.table_hand.table_card3}.svg", class: 'table-card' %>
            <% else %>
              <%= image_tag "cards/1B.svg", class: 'table-card' %>
              <%= image_tag "cards/1B.svg", class: 'table-card' %>
              <%= image_tag "cards/1B.svg", class: 'table-card' %>
            <% end %>
            <% unless winnerhand.table_hand.table_card4.nil? %>
              <%= image_tag "cards/#{winnerhand.table_hand.table_card4}.svg", class: 'table-card' %>
            <% else %>
              <%= image_tag "cards/1B.svg", class: 'table-card' %>
            <% end %>
            <% unless winnerhand.table_hand.table_card5.nil? %>
              <%= image_tag "cards/#{winnerhand.table_hand.table_card5}.svg", class: 'table-card' %>
            <% else %>
              <%= image_tag "cards/1B.svg", class: 'table-card' %>
            <% end %>
          </div>
      <%# <% end %>

  <% end %>



    <% if player == winnerhands.last.player%>
      <% if poker_table.players.active.count >= 2 %>
        <%= link_to "Restart", table_hands_path(poker_table_id: poker_table.id), data: { turbo_method: :post }, class: 'btn btn-action' %>
      <% else %>
        <%= link_to "Back to the table", table_hand_back_path(poker_table_id: poker_table.id, table_hand_id: poker_table.table_hands.last.id), data: { turbo_method: :patch }, class: 'btn btn-action' %>
      <% end %>
    <% else %>
      <p class="mb-0 text-primary">Waiting for <%= winnerhands.last.player.user.nickname %> to restart the game...</p>
    <% end %>
  </div>
</div>
