<% winnerhands.each do |winnerhand| %>
  <% unless winnerhand.combination.nil? %>
    <%  case winnerhand.combination[1]  %>
      <%  when 11 then trad = winnerhand.combination[1].to_s.gsub("11", "Jacks")  %>
      <%  when 12 then trad = winnerhand.combination[1].to_s.gsub("12", "Queens")  %>
      <%  when 13 then trad = winnerhand.combination[1].to_s.gsub("13", "Kings")  %>
      <%  when 14 then trad = winnerhand.combination[1].to_s.gsub("14", "Aces")  %>
    <% end %>
    <% case winnerhand.combination.first %>
    <% when 0 then combo = "High Card #{winnerhand.combination}"%>
    <% when 1 then combo = "Pair of #{winnerhand.combination}"%>
    <% when 2 then combo = "Double Pair with highest pair of #{winnerhand.combination}"%>
    <% when 3 then combo = "Three of a kind of #{winnerhand.combination}"%>
    <% when 4 then combo = "Straight with highest card of #{winnerhand.combination}"%>
    <% when 5 then combo = "Flush with hightest card of #{winnerhand.combination}"%>
    <% when 6 then combo = "Full House of #{winnerhand.combination}"%>
    <% when 7 then combo = "Four of a kind of #{winnerhand.combination}"%>
    <% when 8 then combo = "Straight Flush with highest card of #{winnerhand.combination}" %>
    <% when 9 then combo = "Royal Emperor Straight Legendary Flush" %>
    <% end %>
  <% else %>
    <% combo = "folded opponents" %>
  <% end %>
  <%# <% winnerhand.combination = combo %>
<% end %>

<% winnerhands.each do |winnerhand| %>
  <% if winnerhand.player.user == current_user %>
    <h1>Congratulations <%= winnerhand.player.user.nickname  %>!</h1>
    <h2>You won with: <%= winnerhand.combination %></h2>
  <% else %>
    <h1>Too bad... </h1>
    <h2><%= winnerhand.player.user.nickname  %> won with: <%= winnerhand.combination %></h2>
  <% end %>
<% end %>


<% if current_user.players.last == winnerhands.last.player%>
  <%= link_to "Restart", table_hands_path(poker_table_id: @poker_table.id), data: { turbo_method: :post } %>
<% end %>
