<div class="coins-left"></div>
<div class="coins-right"></div>
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>It’s raining coins</h1>
      <p class="find-table-ok">Select a table and win the pot</p>
      <div class="d-flex align-items-center mb-3">
        <small class="text-uppercase text-primary">Filter by: </small>
        <div class="ms-2 filters">
          <div class="dropdown">
            <button class="dropbtn">Filter Players ↓ <%= @max_players %></button>
            <div class="dropdown-content">
              <%= link_to "Any", poker_tables_path %>
              <%= link_to "5", poker_tables_path(max_players: 5) %>
              <%= link_to "7", poker_tables_path(max_players: 7) %>
              <%= link_to "9", poker_tables_path(max_players: 9) %>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Filter Blinds ↓ <%= @small_blind %> </button>
            <div class="dropdown-content">
              <%= link_to "Any", poker_tables_path %>
              <%= link_to "1-2", poker_tables_path(small_blind: 1) %>
              <%= link_to "5-10", poker_tables_path(small_blind: 5) %>
              <%= link_to "10-20", poker_tables_path(small_blind: 10) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% @poker_tables.each do |poker_table| %>
          <div class="col-md-6 col-xl-4">
            <%= render "table_item", poker_table: poker_table %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
